src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd">
	<flow name="businessLogicFlow" doc:id="9a38a51b-603a-4a5a-9928-b5d84fa080b6">
		<batch:job jobName="migrateAccountsBatchJob" doc:id="4a2589d0-7121-4f6f-aea1-6d5cc15609fc"
			blockSize="${page.size}">
			<batch:process-records>
				<batch:step name="CheckAccountInS4Hana" doc:id="1bd7385c-b77c-46f7-a281-874283afcc1e">
					<ee:transform doc:name="Prepare filteredParam request for query"
						doc:id="30cdaab5-b261-4a95-9dbe-0f97d1e739ce">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="filteredParam"><![CDATA[%dw 2.0
output application/java
---
{
	name: "OrganizationBPName1 eq '" ++ payload.Name ++ "'"
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<s4hana:query service="API_BUSINESS_PARTNER"
						entityType="A_BusinessPartner" doc:name="Query Business Partner based on name"
						doc:id="90827310-a1f5-4790-9ef1-a58f5d01d52d" config-ref="SAP_S_4HANA_Config"
						filter="#[vars.filteredParam.name]" target="sapId" select="BusinessPartner" />
					<ee:transform doc:name="Extend payload about Business Partner Id"
						doc:id="224d4014-5d7a-4c6a-98c9-6911faefb44d">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	sapId: vars.sapId[0].BusinessPartner
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Log extended payload"
						doc:id="6d9ac364-56e2-4be9-b5e1-c00aafef995a" message="#[output apllication/json --- payload]" />
				</batch:step>
				<batch:step name="createAccountsBatch" doc:id="89a2dbd2-421c-4481-98df-dfb4db5d90b8"
					acceptExpression='#[payload.sapId == null]'>
					<ee:transform doc:name="Prepare Account request"
						doc:id="defdc9bf-dc9e-4a22-9afb-3177682c0405">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	OrganizationBPName1: payload.Name,
	OrganizationLiquidationDate: now(),
	BusinessPartnerName: payload.Name,
	BusinessPartnerCategory: "2",
	Industry: payload.Industry,
	to_BusinessPartnerAddress : [{
		BusinessPartner: payload.sapId,
		StreetName: payload.BillingStreet,
		District: payload.BillingState,
		CityName: payload.BillingCity,
		Country: payload.BillingCountry,
		PostalCode: payload.BillingPostalCode,
		to_PhoneNumber: {
			PhoneNumber: payload.Phone
		}
	}]
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<s4hana:create-entity service="API_BUSINESS_PARTNER"
						entityType="A_BusinessPartner" doc:name="Create Account in S4Hana"
						doc:id="94e99fc1-0648-4e0b-932a-670ed07a8212" config-ref="SAP_S_4HANA_Config" />
					<ee:transform doc:name="Save S4Hana Response"
						doc:id="e080fb31-8446-4f32-865c-cac1c4d310d0">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Log Response"
						doc:id="011c736f-8635-4c2a-a388-aef876b6d879" message="#[output application/json --- payload]" />
				</batch:step>
				<batch:step name="updateAccountsBatch" doc:id="cafff2a7-c738-453a-82c6-550f08cd691e"
					acceptExpression="#[payload.sapId != null]">
					<ee:transform doc:name="Prepare Account request"
						doc:id="2235cdc8-2174-4a68-8c5e-76e635f2a63f">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	BusinessPartner: payload.sapId,
	OrganizationBPName1: payload.Name,
	OrganizationLiquidationDate: now(),
	BusinessPartnerName: payload.Name,
	BusinessPartnerCategory: "2",
	Industry: payload.Industry,
	to_BusinessPartnerAddress : [{
		BusinessPartner: payload.sapId,
		StreetName: payload.BillingStreet,
		District: payload.BillingState,
		CityName: payload.BillingCity,
		Country: payload.BillingCountry,
		PostalCode: payload.BillingPostalCode,
		to_PhoneNumber: {
			PhoneNumber: payload.Phone
		}
	}]
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<s4hana:update-entity service="API_BUSINESS_PARTNER"
						entityType="A_BusinessPartner" doc:name="Update Account in S4Hana"
						doc:id="4a86acec-f67e-409b-beac-1cf7002440f4" config-ref="SAP_S_4HANA_Config" />
					<ee:transform doc:name="Save S4Hana Response"
						doc:id="acebf704-b097-4167-a3fe-97eb9f0b3e96">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Log Response"
						doc:id="c7e1c17d-0696-413d-a4a2-09ae72cac6eb" message="#[output application/json --- payload]" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<scatter-gather doc:name="Scatter-Gather"
					doc:id="50bfb79c-cd29-4943-975c-20574d63476e">
					<route>
						<logger level="INFO" doc:name="Migration process has finished!"
							doc:id="6bb26256-7424-4dcd-961f-5ebb0b7b9282" message="Migration process has finished!" />
					</route>
					<route>
						<ee:transform doc:name="Prepare migration result email"
							doc:id="dabcf741-2254-4080-bbed-68ae2800bff4">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"

 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis!
 ++ "\n Total Records: "			++ payload.totalRecords!
 ++ "\n Successful Records: "		++ payload.successfulRecords!
 ++ "\n Failed Records: "			++ payload.failedRecords!
 ++ "\n Loaded Records: "			++ payload.loadedRecords!
 ++ "\n Processed Records: " 		++ payload.processedRecords!]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<email:send doc:name="Send migration result email"
							doc:id="2f534014-8780-4286-8947-26db7f33f2a3" fromAddress="${mail.from}"
							subject="${mail.subject}" config-ref="Email_SMTP">
							<email:to-addresses>
								<email:to-address value="${mail.to}" />
							</email:to-addresses>
						</email:send>
					</route>
				</scatter-gather>
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="queryFromSalesforceSubFlow" doc:id="25dbd0dd-a71f-47b3-a98f-d9469c00bb61">
		<salesforce:query doc:name="Query Accounts from Sfdc"
			doc:id="818f6fa1-b6a6-47ff-9375-5086ff5b360a" config-ref="Salesforce_Config">
			<salesforce:salesforce-query>SELECT Id, BillingCity, BillingCountry,
				BillingPostalCode,BillingState, BillingStreet, Industry,
				LastModifiedDate, Name, NumberOfEmployees, Phone FROM Account WHERE
				(Industry = 'Education' OR Industry
				= 'Government')
			</salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="Log data"
			doc:id="05071028-c7bf-4366-b86e-a3dc845d2d61" message="#[output application/json --- payload]" />
	</sub-flow>
	<flow name="mainFlow" doc:id="71a8e679-05d3-49cb-b21b-b1fcf38fb513">
		<flow-ref doc:name="Call queryFromSalesforceSubFlow" doc:id="9f255b67-00e5-4652-a20b-65cfea0ecea8"
			name="queryFromSalesforceSubFlow" />
		<flow-ref doc:name="Call businessLogicFlow" doc:id="563df043-f86e-4825-a3a2-1cd3d16f62d1"
			name="businessLogicFlow" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="d26d970c-87c1-4b73-abea-37d912d0d281"
				type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="fe1aea8e-7d2c-4eda-8c64-fc1dd4dfa9b7"
					name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
